:root {
  /* Brand Colors - Vue Green */
  --vp-c-brand-1: #42b883;
  --vp-c-brand-2: #33a06f;
  --vp-c-brand-3: #155f3e;
  --vp-c-brand-soft: rgba(66, 184, 131, 0.14);

  /* Background Colors */
  --vp-c-bg: #ffffff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #ffffff;
  --vp-c-bg-soft: #f6f6f7;

  /* Text Colors */
  --vp-c-text-1: #213547;
  --vp-c-text-2: #3c3c43c7;
  /* rgba(60, 60, 67, 0.78) */
  --vp-c-text-3: #3c3c438a;
  /* rgba(60, 60, 67, 0.54) */

  /* Borders */
  --vp-c-border: #e2e2e3;
  --vp-c-divider: #e2e2e3;
  --vp-c-gutter: #e2e2e3;

  /* Font Families */
  --vp-font-family-base:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --vp-font-family-mono: 'Fira Code', monospace;

  /* Shadows */
  --vp-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --vp-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --vp-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);

  /* Layout */
  --vp-nav-height: 50px;
  --vp-nav-bg: rgba(255, 255, 255, 0.82);
  --vp-nav-dropdown-bg: rgba(255, 255, 255, 0.98);
}

.dark {
  /* Brand Colors */
  --vp-c-brand-1: #42b883;
  --vp-c-brand-2: #3aa675;
  --vp-c-brand-3: #33a06f;
  --vp-c-brand-soft: rgba(66, 184, 131, 0.14);

  /* Background Colors */
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;

  /* Text Colors */
  --vp-c-text-1: rgba(255, 255, 255, 0.87);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);

  /* Borders */
  --vp-c-border: #2e2e32;
  --vp-c-divider: #2e2e32;
  --vp-c-gutter: #2e2e32;

  /* Shadows */
  --vp-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.5);
  --vp-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.4), 0 1px 4px rgba(0, 0, 0, 0.4);
  --vp-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.5), 0 2px 6px rgba(0, 0, 0, 0.4);

  /* Layout */
  --vp-nav-bg: rgba(27, 27, 31, 0.82);
  --vp-nav-dropdown-bg: rgba(30, 30, 32, 0.98);
}
